.cloversclassics h1 {
  font-size: 80px;
  text-align: center;
  color: rgb(232, 250, 215);
}
.cloversclassics h2 {
  font-size: 60px;
  font-weight: normal;
  text-align: center;
  color: rgb(232, 250, 215);
  font-family: "League Baskerville";
}
.cloversclassics .heading {
  padding: 20px;
}
