.current #c1 {
  background-color: #82906f;
  min-height: 200px;
  padding: 30px;
  color: rgb(235, 239, 233);
}

.current p {
  font-family: "League Baskerville";
  font-size: 30px;
}

.current h1 {
  font-family: "Spartan";
  font-weight: bold;
  font-size: 50px;
}

.current .row {
  display: flex;
}

.current .icons {
  display: flex;
}

.icons img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
