.projectsdescription {
  font-family: "Spartan";
  background-color: var(--color2);
  color: antiquewhite;
  font-weight: 600;
  font-size: 30px;
  padding: 50px;
  min-height: 500px;
}

.projectcard {
  display: flex;
  justify-content: flex-end;
  background-size: cover;
  flex-direction: column;
  height: 50vh;
  padding: 50px;
  position: relative;
}
.projectcardtitle {
  margin: 0;
  font-size: 100px;
}
.projectcardsubtitle {
  margin: 0;
  font-family: "Spartan";
  font-weight: 600;
  font-size: 50px;
}
.projectcardlogo {
  width: 300px;
  height: 300px;
  background-size: contain;
  position: absolute;
  border-radius: 100%;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
  display: block;
}

.projectcardlogo:hover {
  cursor: pointer;
  border: 8px solid var(--color2);
  color: white;
}

.projects {
  background-color: var(--color2l);
}

.scrolldown {
  background-color: transparent;
  border-radius: 100%;
  width: 300px;
  height: 300px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  transition: background-color 0.2s;
}
.scrolldown:hover {
  background-color: black;
}
